.editionForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-title-container > h2{
    color: #ffffff;
    font-weight: 300;
    margin: 15px;
  }
  
  .form-button{
    margin: 15px;
  
    background: #f6BA15;
    color: #ffffff;
    font-weight: 400;
  }
  
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-color: #262d4d;
  }
  
  input{
    color: #ffffff;
  }
  