<div class="login-container">
  <div class="main-title-container">
    <h1 class="main-title">Welcome to</h1>
    <img
      class="main-logo"
      src="../../../../../assets/pokedexLogo.png"
      alt="PokedexLite Logo"
    />
  </div>

  <div class="main-hero">
    <img
      class="hero-image"
      src="../../../../../assets/splashHero.png"
      alt="Pokemon Teams Logo"
    />
  </div>

  <div class="main-actions">
    <div class="action-button">
      <button mat-flat-button>Basic</button>
    </div>
  </div>
</div>
