<div class="login-container">
  <div class="main-title-container">
    <img
      class="main-logo"
      src="../../../../../assets/pokedexLogo.png"
      alt="PokedexLite Logo"
    />
  </div>

  <div class="main-hero">
    <img
      class="hero-image"
      src="../../../../../assets/splashHero.png"
      alt="Pokemon Teams Logo"
    />
  </div>

  <div class="main-actions">
    <div class="action-button-container">
      <button (click)="showLogin()" class="login-action" mat-raised-button>Login</button>
    </div>
    <div class="register-action">
      <p>Don´t have an account yet?</p>
      <span>
        <a href="#"> Register </a>
      </span>
    </div>
  </div>
</div>
