<div class="card-container">
  <div class="card-image-container">
    <img class="card-image" src="{{ image }}" (error)="handleMissingImage()" alt="pokemon image" />
  </div>
  <div class="card-info-container">
    <p class="name">{{ name }}</p>
    <p class="level">Found at Level: {{ lvl }}</p>
    <div class="type-container">
      <p class="type-title">Type/s</p>
      <div class="type">
        <div *ngFor="let pType of type">
          <img class="type-tag" src="{{ pType | type }}" (error)="handleMissingtype()" alt="type img" />
        </div>
      </div>
    </div>
  </div>
</div>
