<div class="card-container">
  <div class="card-image-container">
    <img class="card-image" src="{{ pokemon.image }}" alt="pokemon image" />
  </div>
  <div class="card-info-container">
    <p>{{ pokemon.name }}</p>
    <p>Level: {{ pokemon.lvl }}</p>
    <p>Pokemon Type: {{ pokemon.type[0] }}</p>
  </div>
</div>

<p>Pokemon evolutionId: {{ pokemon.evolutionId }}</p>
<p>Pokemon abilities Name: {{ pokemon.abilities[0].name }}</p>
<p>Pokemon abilities description: {{ pokemon.abilities[0].description }}</p>
