.list{
    margin-top:0px ;
    padding: 0px;
}

.add-button{
    position: sticky;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    margin: auto 15px auto auto;
}

.navBar{
    position: sticky;
    top: 0px;
    left: 0px;
}