<div class="modal-container">
  <div class="modal-header">
    <h2 class="modal-title">{{ data.name }}</h2>
    <img
      class="modal-image"
      src="{{ data.image }}"
      alt="pokemon image"
      (error)="handleMissingImage()"
    />
    <h2 class="modal-lvl">Level: {{ data.lvl }}</h2>
  </div>
  <div class="modal-abilities-container">
    <h3>Abilities</h3>
    <div class="abilities-list" *ngFor="let abilitie of data.abilities">
      <p class="abilitie-name">{{ abilitie.name }}</p>
      <p>{{ abilitie.description }}</p>
    </div>
  </div>
  <div class="modal-evolution-container">
    <div *ngFor="let item of loaded$ | async">
      <div
        class="modal-evolution-container"
        *ngIf="item.id === data.evolutionId"
      >
        <h3>Evolution</h3>
        <p class="evo-level">Evolves at level: {{ item.lvl }}</p>
        <img
          class="modal-evolution-image"
          src="{{item.image}}"
          alt="pokemon evolution"
          (error)="handleMissingEvolution()"
        />
        <p class="evo-name">{{ item.name }}</p>
      </div>
    </div>
  </div>
</div>
