@media only screen and (min-width: 768px) {
  .list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.paginator-container {
  position: sticky;
  bottom: 0px;
}

.list-container {
  height: 100%;
}

.bat-spinner {
  position: absolute;
  top: 50%;
  left: 30%;
}

.loading-text{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}